body{
    background-color: white;
}

.container {
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 300px;
    height: 150px;
    border-style: solid;
}