body{
    background-color: white;
}

.container {
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    width: 400px;
    height: 180px;
    border-style: groove;
}